<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728856991324-2lmm2b23hrvj0a33s6lc5vr89q7fq25u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728856991324-2lmm2b23hrvj0a33s6lc5vr89q7fq25u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>728856991324-qe232rkg9jtvf6e4kvd69p2a847p2s5t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDJBL8YESl46FEtEuhVrfCGhrkgSMdURY</string>
	<key>GCM_SENDER_ID</key>
	<string>728856991324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-f4842</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-f4842.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728856991324:ios:0007dd1b70b01ae85cb899</string>
</dict>
</plist>